<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cv-container {
            width: 210mm;
            height: 297mm;
            box-shadow: 0 0 10px rgba(0, 0, 0, .3);
            margin: 0 auto;
        }

        .cv-wrapper {
            padding: 60px 40px 0 40px;
        }

        h1,h2,h3,h4,h5 {
            line-height: 1.2;
            margin: 0;
            padding: 0;
        }

        p, span, a, li, td, th {
            line-height: 1.5;
            margin: 0;
            padding: 0;
        }

        td, th {
            line-height: 1.7;
        }

        .title {
            text-align: center;
        }
        .title h1 {
            font-size: 40px;
        }

        .profile h2,
        .education h2,
        .experience h2,
        .skill h2 {
            border-bottom: 2px solid #000;
            margin: 32px 0 14px;
        }
    </style>
</head>
<body>
    <div class="cv-container">
        <div class="cv-wrapper">
            <div class="title">
                <h1>Reza Zulfa</h1>
                <p>Product Manager</p>
            </div>
            <div class="profile">
                <h2>Data Pribadi</h2>
                <table style="width: 250px;">
                    <tr>
                        <td>Alamat: </td>
                        <td>Jakarta, Indonesia</td>
                    </tr>
                    <tr>
                        <td>Telepon: </td>
                        <td>08213920932</td>
                    </tr>
                    <tr>
                        <td>Email: </td>
                        <td>reza@gmail.com</td>
                    </tr>
                </table>
            </div>
    
            <div class="experience">
                <h2>Pengalaman</h2>
                <div class="experience-item">
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-weight: 600;">Creativox</td>
                            <td rowspan="2" style="text-align: end;">Jun 2016 - Mei 2017</td>
                        </tr>
                        <tr>
                            <td>Product Manager</td>
                        </tr>
                    </table>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum tempora obcaecati veniam suscipit ducimus quasi vero architecto, aut dicta distinctio ut ad, et aliquam nobis sit dignissimos, fugiat adipisci.</p>
                </div>

                <div class="experience-item">
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-weight: 600;">Creativox</td>
                            <td rowspan="2" style="text-align: end;">Jun 2016 - Mei 2017</td>
                        </tr>
                        <tr>
                            <td>Product Manager</td>
                        </tr>
                    </table>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum tempora obcaecati veniam suscipit ducimus quasi vero architecto, aut dicta distinctio ut ad, et aliquam nobis sit dignissimos, fugiat adipisci.</p>
                </div>

                <div class="experience-item">
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-weight: 600;">Creativox</td>
                            <td rowspan="2" style="text-align: end;">Jun 2016 - Mei 2017</td>
                        </tr>
                        <tr>
                            <td>Product Manager</td>
                        </tr>
                    </table>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cum tempora obcaecati veniam suscipit ducimus quasi vero architecto, aut dicta distinctio ut ad, et aliquam nobis sit dignissimos, fugiat adipisci.</p>
                </div>
            </div>

            <div class="education">
                <h2>Pendidikan</h2>
                <div class="education-item">
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-weight: 600;">SMK Telkom Jakarta</td>
                            <td style="text-align: end;">Jun 2016 - Mei 2017</td>
                        </tr>
                    </table>
                    <p>Teknik Komputer Jaringan</p>
                </div>

                <div class="education-item">
                    <table style="width: 100%;">
                        <tr>
                            <td style="font-weight: 600;">SMK Telkom Jakarta</td>
                            <td style="text-align: end;">Jun 2016 - Mei 2017</td>
                        </tr>
                    </table>
                    <p>Teknik Komputer Jaringan</p>
                </div>
            </div>

            <div class="skill">
                <h2>Keahlian</h2>
                <table style="width: 100%;">
                    <tr>
                        <td>Communication | Skilled</td>
                        <td>Research | Skilled</td>
                    </tr>
                    <tr>
                        <td>Marketing | Skilled</td>
                        <td>Analytical  | Skilled</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>