<!DOCTYPE html>
<html lang='en'>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="cv-container print">
        <div class="header">
            <div class="left">
                <h1 class="name">Olivia Carla</h1>
                <p class="gray-text">Designer</p>
            </div>
            <div class="profile-picture">
                <img src="profil2.jpg" alt="">
            </div>
            <div class="clear"></div>
        </div>
        
        <div class="left">
            <h2 class="section-title">KONTAK</h2>
            <table style="width: 100%">
                <tr>
                    <td>olivia@gmail.com</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: #6c757d;transform: ;msFilter:;"><path d="M20 4H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2zm0 4.7-8 5.334L4 8.7V6.297l8 5.333 8-5.333V8.7z"></path></svg></td>
                </tr>
                <tr>
                    <td>0821321242</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: #6c757d;transform: ;msFilter:;"><path d="m20.487 17.14-4.065-3.696a1.001 1.001 0 0 0-1.391.043l-2.393 2.461c-.576-.11-1.734-.471-2.926-1.66-1.192-1.193-1.553-2.354-1.66-2.926l2.459-2.394a1 1 0 0 0 .043-1.391L6.859 3.513a1 1 0 0 0-1.391-.087l-2.17 1.861a1 1 0 0 0-.29.649c-.015.25-.301 6.172 4.291 10.766C11.305 20.707 16.323 21 17.705 21c.202 0 .326-.006.359-.008a.992.992 0 0 0 .648-.291l1.86-2.171a.997.997 0 0 0-.085-1.39z"></path></svg></td>
                </tr>
                <tr>
                    <td>Bandung jawa barat</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" style="fill: #6c757d;transform: ;msFilter:;"><path d="m21.743 12.331-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669z"></path></svg></td>
                </tr>
            </table>

            <div class="about">
                <h2 class="section-title">TENTANG SAYA</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit obcaecati suscipit excepturi quo ducimus, numquam atque eos aliquam dolore expedita blanditiis ipsam ullam consectetur sapiente consequatur optio quisquam a maiores.</p>
            </div>

            <div class="skills">
                <h2 class="section-title">Keahlian</h2>
                <table style="width: 100%;">
                    <tr>
                        <td>Adobe Photoshop</td>
                        <td>Specialist</td>
                    </tr>
                    <tr>
                        <td>Adobe Illustrator</td>
                        <td>Specialist</td>
                    </tr>
                    <tr>
                        <td>Adobe Lightroom</td>
                        <td>Skilled</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="right">
            <div class="education">
                <h2 class="section-title">PENDIDIKAN</h2>
                <div class="education-item">
                    <p class="date-item">Jul 2019 - Jul 2021</p>
                    <h3 class="title-item">Universitas Indonesia</h3>
                    <p class="desc-item">Teknologi Informasi</p>
                </div>
                <div class="education-item">
                    <p class="date-item">Aug 2015 - Oct 2019</p>
                    <h3 class="title-item">Universitas Pendidikan Indonesia</h3>
                    <p class="desc-item">Ilmu Komputer</p>
                </div>
                <div class="education-item">
                    <p class="date-item">Jul 2012 - Jul 2015</p>
                    <h3 class="title-item">SMAN 1 Bandung</h3>
                    <p class="desc-item">Ilmu Pengetahuan Sosial</p>
                </div>
            </div>

            <div class="experience">
                <h2 class="section-title">Pengalaman</h2>
                <div class="experience-item">
                    <p class="date-item pt-3">Jul 2021 - Sep 2021</p>
                    <h5 class="title-item">Graphic Designer | Creative Media</h5>
                    <p class="desc-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo molestias eius blanditiis.</p>
                </div>

                <div class="experience-item">
                    <p class="date-item pt-3">Jul 2021 - Sep 2021</p>
                    <h5 class="title-item">Graphic Designer Intern | Folkative</h5>
                    <p class="desc-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo molestias eius blanditiis.</p>
                </div>
                
            </div>

        </div>
        <div class="clear"></div>

    </div>
</body>
</html>