/* Variable */
:root {
    --primary: #313131;
    --secondary: #BDA249;
}

/* utilities */
p, a, span {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3 {
    font-family: 'Exo', sans-serif;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* components */
.btn-custom {
    background-color: var(--primary);
    font-size: 18px;
    color: #fff;
    border-radius: 0;
    padding: 14px 40px;
    box-shadow: 5px 5px 0 var(--secondary);
    transition: .3s;
}
.btn-custom:hover {
    color: #fff;
    transform: translate(5px, 5px);
    box-shadow: 0 0 0 var(--secondary);
}

.btn-custom-secondary {
    background: linear-gradient(45deg,#9c8537, #BDA249);
    color: #fff;
}

/* NAVBAR */    
.navbar a {
    text-decoration: none;
    color: #000;
}

/* HEADER */
header h1 {
    font-size: 56px;
    font-weight: bold;
    margin-top: 40px;
}
/* STEPS */
.step-item {
    position: relative;
}
.step-item::after {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    top: calc(50% - 20px);
    transform: translateY(-50%);
    background-color: var(--primary);
    z-index: -1;
}
.step-item:nth-child(1)::after {
    width: 50%;
    left: 50%;
}
.step-item:nth-child(2)::after {
    width: 100%;
    transform: translateY(-50%);;
}
.step-item:nth-child(3)::after {
    width: 50%;
    left: 0;
}
.step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step-item span {
    text-align: center;
}
.step-icon {
    background-color: var(--primary);
    display: inline-block;
    padding: 28px;
    border-radius: 50%;
    margin-bottom: 18px;
}

.background-right {
    top: 0;
    right: 0;
    width: calc(50% - 36px);
    height: 100vh;
    position: fixed;
    overflow: hidden;   
}

.background-right img {
    width: 100%;
    object-fit: cover;
}

.form-control {
    background-color: #EEEEEE;
    border: none;
    border-radius: 0;
}
.form-control.is-invalid {
    border: 1px solid #dc3545;
}
.form-control:focus {
    background-color: #EEEEEE;
    box-shadow: 0 0 0 0.25rem rgba(189, 162, 73, 0.5);
}

.half-input {
    width: 50%;
}

.accordion-item {
    border-radius: 0 !important;
    margin: 12px 0;
    border: 1px solid rgba(0,0,0,.125) !important;
}

.accordion-button:not(.collapsed){
    background-color: transparent;
    box-shadow: none;
}
.accordion-header {
    position: relative;
}
.delete-btn,
.delete-btn.static {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    z-index: 3;
}

.delete-btn,
.delete-draft {
    background: transparent;
    border: none;
    transition: .2s;
    padding: 0;
    color: #000;
}
.delete-btn svg {
    pointer-events: none;
}
.delete-btn:hover svg {
    fill: #dc3545 !important;
}

/* drafts */
.widget-create-cv {
    width: 100%;
    padding-top: calc( 4 / 3 * 100%);
    border: 4px #313131 dashed;
    position: relative;
    cursor: pointer;
}

.widget-create-cv img {
    width: 50px;
    height: 50px;
}

/* Edit title */
.input-title {
    display: inline-grid;
    vertical-align: top;
    align-items: center;
    position: relative;
    margin: 5px;
} 
    
.input-title::after,
.edit-title {
    width: auto;
    min-width: 10px;
    grid-area: 1 / 2;
    padding-bottom: 6px;
    margin: 0;
    resize: none;
    background: none;
    appearance: none;
    border: none;
    font-size: 32px;
    font-weight: bold;
}
    
.input-title::after {
    content: attr(data-value) ' ';
    visibility: hidden;
    white-space: pre-wrap;
}

.input-title:focus-within {
    box-shadow: 0 3px 0 var(--secondary);
}

.input-title input:focus {
    outline: none;
}

.preview .download-btn {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.edit-photo-btn > * {
    cursor: pointer;
}

.preview-photo {
    width: 100px;
    height: 100px;
    background-size: cover;
    object-position: center;
}

.preview {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    padding-left: 50px;
}

.preview-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    top: 0;
    left: 0;
    background-color: #121212;
}

.preview-wrapper::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.preview-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
}

.floating-btn {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 4;
    padding: 8px 16px;
}

.close-preview {
    margin: 15px 0 0 20px;
}

.modal-footer,
.modal-header {
    border: none;
}

.draft {
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.draft img {
    object-fit: cover;
    object-position: top;
    width: 60%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.draft .content {
    flex: 40%;
}

@media (max-width: 991.98px) {
    .half-input {
        width: 100%;
    }

    .preview {
        display: none;
        padding-left: 0;
        z-index: 5;
    }
    .preview.show {
        display: block;
    }
}

@media (max-width: 767.98px) {
}

