.cv-container,
.cv-container  *{
    box-sizing: unset;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

h1,h2,h3,h4,h5 {
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

p, span, a, li {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 210mm;
    height: 297mm;
    margin: 0 auto;
    background-color: #fff;
    background-image: linear-gradient(#919191,#919191);
    background-repeat: no-repeat;
    background-size: 317px 100%;
    position: absolute;
    left: 50%;
    transform: scale(.6) translate(-50%, 100px);
    transform-origin: top left;
}
.cv-container.print {
    position: static;
    height: 100%;
    transform: scale(1) translate(0, 0);
    left: 0;
    top: 0;
    background-color: transparent;
}
.section-wrapper {
    padding-bottom: 40px;
}

.section-wrapper h2 {
    padding-bottom: 12px;
    font-weight: bold;
    font-size: 24px;
}

.cv-left {
    width: 269px;
    height: 100%;
    padding: 0 24px;
    float: left;
    background-color: transparent;
}
.cv-right {
    height: 100%;
    width: 428px;
    padding: 0 24px;
    height: 100%;
    float: left;
}

.text-secondary {
    color: #6c757d;
}

/* PROFILE SECTION */
.profile {
    padding-bottom: 24px;
}
.profile-pic  {
    width:256px;
    height: 256px;
    background-position: center ;
  
   
    background-repeat: no-repeat;
    border-radius: 50% ;
}
.cv-header {
    margin-bottom: 60px;
    padding-top: 30px;
}
.cv-header h1 {
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    margin-top: 30px;
}
.cv-header h1 span {
    font-weight: normal;
}
.cv-header p {
    color: #4e4e4e;
    padding: 8px 0;
}
.profile p {
    line-height: 170%;
}

/* CONTACT SECTION */
.contact span {
    padding: 6px 0;
}
.contact span svg {
    margin-right: 8px;
}
/* KEAHLIAN */
.keahlian {
    padding-top: 30px;
}
.d-flex {
    display: flex;
}
.chart {
    width: 70%;
    padding-left: 40px;
}
.chart canvas {
    width: 100%;
}
.list-keahlian ul {
    padding: 0;
    padding-left: 1.4rem;
    list-style: square;
}
.list-keahlian ul li {
    margin: 8px 0;
    font-size: 14px;
}

/* PENDIDIKAN */
.cv-container .education {
    padding-top: 30px;
}
.education-item,
.experience-item {
    margin-bottom: 20px;
    width: 100%;
}

.date-item {
    font-size: 11px;
    color: #6c757d;
}

.title-item {
    font-size: 20px;
    margin-bottom: 6px;
    font-weight: 500;
}

.desc-item {
    color: #6c757d;
}

/* PROJEK */
.skill-item p {
    font-size: 14px;
}

@media(max-width: 1200px){
    .cv-container {
        transform: scale(.5) translate(-50%, 100px);
        margin-top: 20px;
    }
}

@media (max-width: 991.98px) {
    .cv-container {
        transform: scale(.7) translate(-50%, 100px);
    }
}

@media (max-width: 767.98px) {
    .cv-container {
        transform: scale(.4) translate(-50%, 100px);
    }
}